{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center;">Active Listings</h2>

    <div class="mb-3">
        <form action="{% url 'filterCategory' %}" method="POST">
            {% csrf_token %}
            <b>Category : </b>
            <select name="category" id="category">
                <!-- <option value="{{categories}}">All</option> -->
                {% for cat in categories %}                
                    <option value="{{cat}}">{{cat}}</option>                   
                {% endfor %}
            </select>
            <input type="submit" class="btn-primary" value="Apply Fliter">
        </form>
    </div>

    <div class="container mt-5">
        <div class="row">
        {% for listing in activeListings %}
  
            <div class="col-6">
                <div class="card" style="width: 25rem;">
                    <img src="{{listing.imageURL}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{listing.title}}</h5>
                    <p class="card-text">{{listing.description}}</p>
                    <h3 class="card-text">₹ {{listing.price}}</h3>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">View this Listing</a>
                    </div>
                </div>
            </div>
        

    {% endfor %}
</div>
</div>
{% endblock %}